.nodered/flows.json
[
    {
        "id": "3aae3582.cbcaba",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "445c7dde.4fa144",
        "type": "tab",
        "label": "Flow 2"
    },
    {
        "id": "a1dfc6f1.1dec48",
        "type": "ibmiot",
        "z": "",
        "name": "test1",
        "keepalive": "60",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "9e925b7b.9b3dd8",
        "type": "ibmiot",
        "z": "",
        "name": "Submeter2",
        "keepalive": "60",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "a1b3d6f.a416da8",
        "type": "cloudant",
        "z": "",
        "host": "25a825b1-1bff-4985-987a-8a0da7a50c76-bluemix.cloudant.com",
        "name": "cloudant"
    },
    {
        "id": "d0108649.fb94c8",
        "type": "websocket-listener",
        "z": "",
        "path": "/maw/ws",
        "wholemsg": "false"
    },
    {
        "id": "c67498d4.79c358",
        "type": "inject",
        "z": "3aae3582.cbcaba",
        "name": "Simulated Device 2 - MB-124",
        "topic": "",
        "payload": "     {   \"referenceNumber\": \"MB-124\",   \"measurementDate\": \"2017-02-24T12:37:53.000Z\",   \"voltageAB\": 450,   \"voltageBC\": 451,   \"voltageCA\": 444,   \"currentA\": 5,   \"currentB\": 6,   \"currentC\": 7,   \"powerFactor\": 90,    \"measuredSpeed\": 1800,    \"powerDraw\": 50,    \"totalHarmonicDistortion\": 10,    \"insulationResistance\": 20,    \"vibration\": 20,    \"surgeMotorCircuit\": 10      }    ",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 184,
        "y": 124.19999694824219,
        "wires": [
            [
                "8cb94182.a00c6"
            ]
        ]
    },
    {
        "id": "c48a025c.4b789",
        "type": "http in",
        "z": "3aae3582.cbcaba",
        "name": "submeter",
        "url": "/submeter",
        "method": "post",
        "swaggerDoc": "",
        "x": 113.00001525878906,
        "y": 411.2000274658203,
        "wires": [
            [
                "36837140.0c56ee",
                "8cb94182.a00c6"
            ]
        ]
    },
    {
        "id": "86bfef0f.225f9",
        "type": "ibmiot out",
        "z": "3aae3582.cbcaba",
        "authentication": "apiKey",
        "apiKey": "a1dfc6f1.1dec48",
        "outputType": "evt",
        "deviceId": "msg.deviceId",
        "deviceType": "testDevType",
        "eventCommandType": "data",
        "format": "json",
        "data": "data",
        "qos": "2",
        "name": "IBM IoT",
        "service": "registered",
        "x": 781,
        "y": 288.1999969482422,
        "wires": []
    },
    {
        "id": "a0a96e3f.ab6fe",
        "type": "debug",
        "z": "3aae3582.cbcaba",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 780,
        "y": 96.19999694824219,
        "wires": []
    },
    {
        "id": "36837140.0c56ee",
        "type": "debug",
        "z": "3aae3582.cbcaba",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 327.00001525878906,
        "y": 407.20001220703125,
        "wires": []
    },
    {
        "id": "fe63cc58.91dd4",
        "type": "http response",
        "z": "3aae3582.cbcaba",
        "name": "",
        "x": 621,
        "y": 489.2000274658203,
        "wires": []
    },
    {
        "id": "9174a878.844ae8",
        "type": "function",
        "z": "3aae3582.cbcaba",
        "name": "",
        "func": "msg.headers = {\n    'Access-Control-Allow-Origin' : '*',\n    'Access-Control-Allow-Methods' : 'GET, POST, OPTIONS, PUT, PATCH, DELETE',\n    'Access-Control-Allow-Headers' : 'X-Requested-With,content-type',\n    'Access-Control-Allow-Credentials' : 'true'\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 452.00001525878906,
        "y": 489.20001220703125,
        "wires": [
            [
                "fe63cc58.91dd4"
            ]
        ]
    },
    {
        "id": "2e668c4b.2b1cf4",
        "type": "template",
        "z": "3aae3582.cbcaba",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE HTML>\n<html lang=\"en-US\">\n    <head>\n        <meta charset=\"UTF-8\">\n        \n        \n        <title>Page Redirection</title>\n    </head>\n    <body>\n        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->\n        If you are not redirected automatically, follow this <a href='https://maw-simulatorui.mybluemix.net'>link to example</a>.\n    </body>\n</html>",
        "x": 312.00001525878906,
        "y": 489.20001220703125,
        "wires": [
            [
                "9174a878.844ae8"
            ]
        ]
    },
    {
        "id": "be47ae8.b1f1c5",
        "type": "inject",
        "z": "3aae3582.cbcaba",
        "name": "Simulated Device 1 - MB-123",
        "topic": "",
        "payload": "  {   \"referenceNumber\": \"MB-123\",   \"measurementDate\": \"2017-02-24T12:37:53.000Z\",   \"voltageAB\": 450,   \"voltageBC\": 451,   \"voltageCA\": 444,   \"currentA\": 5,   \"currentB\": 6,   \"currentC\": 7,   \"powerFactor\": 90,    \"measuredSpeed\": 1800,    \"powerDraw\": 50,    \"totalHarmonicDistortion\": 10,    \"insulationResistance\": 20,    \"vibration\": 20,    \"surgeMotorCircuit\": 10      }    ",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 184.50001525878906,
        "y": 41,
        "wires": [
            [
                "8cb94182.a00c6"
            ]
        ]
    },
    {
        "id": "b74f8fcf.fcbd6",
        "type": "inject",
        "z": "3aae3582.cbcaba",
        "name": "Simulated Device 3 - MB-125",
        "topic": "",
        "payload": "  {   \"referenceNumber\": \"MB-125\",   \"measurementDate\": \"2017-02-24T12:37:53.000Z\",   \"voltageAB\": 450,   \"voltageBC\": 451,   \"voltageCA\": 444,   \"currentA\": 5,   \"currentB\": 6,   \"currentC\": 7,   \"powerFactor\": 90,    \"measuredSpeed\": 1800,    \"powerDraw\": 50,    \"totalHarmonicDistortion\": 10,    \"insulationResistance\": 20,    \"vibration\": 20,    \"surgeMotorCircuit\": 10      }    ",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 180.50001525878906,
        "y": 207,
        "wires": [
            [
                "8cb94182.a00c6"
            ]
        ]
    },
    {
        "id": "41320df4.301144",
        "type": "ibmiot in",
        "z": "3aae3582.cbcaba",
        "authentication": "apiKey",
        "apiKey": "a1dfc6f1.1dec48",
        "inputType": "cmd",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": true,
        "allFormats": true,
        "qos": "2",
        "x": 111.50001525878906,
        "y": 653.3999938964844,
        "wires": [
            [
                "6768903e.7643b",
                "2f8b4998.3f7986"
            ]
        ]
    },
    {
        "id": "6768903e.7643b",
        "type": "debug",
        "z": "3aae3582.cbcaba",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 297.5,
        "y": 580.0000457763672,
        "wires": []
    },
    {
        "id": "8cb94182.a00c6",
        "type": "function",
        "z": "3aae3582.cbcaba",
        "name": "Device ID Appender ",
        "func": "msg.deviceId = msg.payload.referenceNumber;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 287.1999969482422,
        "wires": [
            [
                "86bfef0f.225f9",
                "a0a96e3f.ab6fe"
            ]
        ]
    },
    {
        "id": "eb33e466.f72f38",
        "type": "inject",
        "z": "3aae3582.cbcaba",
        "name": "Simulated Device 3 - MB-126",
        "topic": "",
        "payload": "  {   \"referenceNumber\": \"MB-126\",   \"measurementDate\": \"2017-02-24T12:37:53.000Z\",   \"voltageAB\": 450,   \"voltageBC\": 451,   \"voltageCA\": 444,   \"currentA\": 5,   \"currentB\": 6,   \"currentC\": 7,   \"powerFactor\": 90,    \"measuredSpeed\": 1800,    \"powerDraw\": 50,    \"totalHarmonicDistortion\": 10,    \"insulationResistance\": 20,    \"vibration\": 20,    \"surgeMotorCircuit\": 10      }    ",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 183,
        "y": 274.1999969482422,
        "wires": [
            [
                "8cb94182.a00c6"
            ]
        ]
    },
    {
        "id": "2f8b4998.3f7986",
        "type": "websocket out",
        "z": "3aae3582.cbcaba",
        "name": "",
        "server": "d0108649.fb94c8",
        "client": "",
        "x": 406,
        "y": 653.2000122070312,
        "wires": []
    },
    {
        "id": "66dff6cc.a63b98",
        "type": "ibmiot in",
        "z": "445c7dde.4fa144",
        "authentication": "apiKey",
        "apiKey": "a1dfc6f1.1dec48",
        "inputType": "evt",
        "deviceId": "matw-submeter1",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 60,
        "y": 150,
        "wires": [
            [
                "73954b99.8dee1c",
                "f5afdec4.4e72b8"
            ]
        ]
    },
    {
        "id": "73954b99.8dee1c",
        "type": "debug",
        "z": "445c7dde.4fa144",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 101,
        "y": 260,
        "wires": []
    },
    {
        "id": "61ba268f.2ad2a",
        "type": "http request",
        "z": "445c7dde.4fa144",
        "name": "send to MatW api",
        "method": "PUT",
        "ret": "obj",
        "url": "http://54.225.109.199:8085/api/1.0/rest/motor/external/measurement",
        "tls": "",
        "x": 468.0001220703125,
        "y": 62,
        "wires": [
            [
                "df4b5786.8ce86",
                "7f973bf5.83dae4"
            ]
        ]
    },
    {
        "id": "df4b5786.8ce86",
        "type": "debug",
        "z": "445c7dde.4fa144",
        "name": "m@w response",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 682.0000152587891,
        "y": 59,
        "wires": []
    },
    {
        "id": "f5afdec4.4e72b8",
        "type": "function",
        "z": "445c7dde.4fa144",
        "name": "Add Device ID",
        "func": "var incomingMsg = msg.payload;\nflow.set('deviceId',msg.deviceId)\nmsg.payload={};\nmsg.payload.data=[];\nmsg.payload.data[0]=incomingMsg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 306.50001525878906,
        "y": 151,
        "wires": [
            [
                "8f653d60.ff5f68"
            ]
        ]
    },
    {
        "id": "53f0d138.2f2bf8",
        "type": "ibmiot out",
        "z": "445c7dde.4fa144",
        "authentication": "apiKey",
        "apiKey": "a1dfc6f1.1dec48",
        "outputType": "cmd",
        "deviceId": "msg.deviceId",
        "deviceType": "testDevType",
        "eventCommandType": "msg.eventOrCommandType",
        "format": "json",
        "data": "msg.payload",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 919.5000152587891,
        "y": 153.8000030517578,
        "wires": []
    },
    {
        "id": "7f973bf5.83dae4",
        "type": "function",
        "z": "445c7dde.4fa144",
        "name": "Convertor",
        "func": "var devid = flow.get('deviceId');\nvar msg = {deviceId:devid,payload:msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 723.5,
        "y": 108,
        "wires": [
            [
                "53f0d138.2f2bf8"
            ]
        ]
    },
    {
        "id": "8f653d60.ff5f68",
        "type": "function",
        "z": "445c7dde.4fa144",
        "name": "get meta",
        "func": "var https = context.global.https;\nvar payload = msg.payload;\nvar metadata={};\n\nfunction getResp(callback) {\n  var options = {\n    host: \"2i34hz.internetofthings.ibmcloud.com\",\n    path: '/api/v0002/device/types/testDevType/devices/'+msg.deviceId,\n    method: 'GET',\n    auth:'a-2i34hz-s6qxamgn4w:zKmhgHudy8gk!P6M(T'\n  };\n  \n  https.request(options, function(res) {\n        var some = \"\";\n        res.setEncoding('utf8');\n        res.on('data', function (data) {\n          some+=data;\n        }).on('end', function() {\n          var tmpSome=some.replace(/\\\\/gi, \"\");\n          var tmp = JSON.parse(tmpSome);\n          callback(tmp.metadata);\n          \n        });\n      }).end();\n}\n\ngetResp(function(var1){\n  msg.metadata = {};\n  msg.metadata=var1;\n  node.send(msg);\n});\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 504,
        "y": 152,
        "wires": [
            [
                "df4b5786.8ce86",
                "ccf9b826.e10c8"
            ]
        ]
    },
    {
        "id": "ccf9b826.e10c8",
        "type": "function",
        "z": "445c7dde.4fa144",
        "name": "update in m@w",
        "func": "var http = context.global.http;\nvar metadata = msg.metadata;\nvar payload = msg.payload;\nvar spayload = JSON.stringify(payload);\nconsole.log(spayload +\" >>>>>>>>>>>>>>>>>>>>>\");\nvar options2 = {\n  host: \"54.225.109.199\",\n  port:'8085',\n  path: '/api/1.0/rest/motor/external/measurement',\n  method: 'PUT',\n  auth:metadata.uname+':'+metadata.pwd,\n  headers: {\n    'Content-Type': 'application/json'\n  }\n};\nconsole.log(\"4\");\nvar msg1={};\nvar req = http.request(options2, function(res) {\n      var some = \"\";\n      res.setEncoding('utf8');\n      res.on('data', function (data) {\n          console.log(\"node 2 one \" + data);\n        some+=data;\n      }).on('end', function() {\n          console.log(\"node 2 two : \"+ some);\n        console.log(some +\"some 000000000000000\");\n        //var tmpSome=some.replace(/\\\\/gi, \"\");\n        //var tmp = JSON.parse(tmpSome);\n        msg = {deviceId:msg.deviceId,payload:some};\n        node.send(msg);\n      });\n    });\n    req.write(spayload);\n    req.end();\nconsole.log(\"5\");\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 711,
        "y": 165,
        "wires": [
            [
                "53f0d138.2f2bf8",
                "3f9ffa17.7d204e"
            ]
        ]
    },
    {
        "id": "3f9ffa17.7d204e",
        "type": "debug",
        "z": "445c7dde.4fa144",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 945,
        "y": 234,
        "wires": []
    }
]